# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

nimdoc.out.css
settings.json
OPCD_3.3/*
raytracer2018
energy_opacity_density.pdf
radius_temp_density.pdf
**/*.json
emrates.txt
**/*.csv

# ignore results
results/*
out/*
resources/reflectivity/*
**/config.toml
